* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}

#input {
    margin: 175px auto;
    width: 800px;
    border: 3px solid crimson;
    border-radius: 10px;
    box-shadow: 0 15px 40px rgba(0,0,0,0.2);
}

#input button {
    display: none;
}

#input #clip-input {
    border: 0 !important;
    outline: none !important;
    background-color: transparent;
    font-family: inherit !important;
    font-weight: 200 !important;
    font-size: 50px !important;
    color: inherit;
    height: 100px;
    width: 100%;
    text-indent: 50px;
    margin: 0;
}

#input #clip-suggestions {
    background-color: crimson;
    text-indent: 50px;
    color: rgba(255,255,255,0.4);
    font-size: 20px;
    font-weight: 200;
    position: relative;
}

#input #clip-suggestions .clip-suggestion {
    padding: 5px 0;
    display: block;
    position: relative;
}

#input #clip-suggestions .clip-suggestion .clip-highlight:first-child {
    color: #fff;
}

#settings {
    position: fixed;
    overflow: scroll;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 50;
    background-color: #ffffff;
    padding: 50px;
    pointer-events: none;

    opacity: 0;
    transform: translateY(-20px) scale(0.95);
    transition: all 0.3s;
}

#settings.active {
    opacity: 1;
    pointer-events: all;
    transform: translateY(0) scale(1);
}

#settings .clip-group {
    padding: 15px;
    margin: 15px;
    border: 1px solid gray;
    border-radius: 3px;
}

#settings .clip-group .clip-group-input {
    padding: 10px;
}

#settings .clip-group .clip-group-input label {
    font-family: monospace;
    display: inline-block;
    vertical-align: top;
    width: 150px;
    color: #888;
    font-size: 18px;
}

#settings .clip-group .clip-group-input textarea,
#settings .clip-group .clip-group-input input,
#settings .clip-settings-input {
    display: inline-block;
    border: none;
    border-bottom: 1px solid crimson;
    font-weight: 200 !important;
    font-size: 18px !important;
    outline: none !important;
    width: 500px;
}

#settings .clip-newgroup {
    margin: 15px;
    border-radius: 3px;
}

#settings .clip-button {
    background-color: crimson;
    border-radius: 3px;
    padding: 10px;
    margin: 10px;
    display: inline-block;
    cursor: pointer;
    color: #fff;
}

#settings .clip-settings-input {
    width: 200px;
}




















